div#conteudo{
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top: 2%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
}

span#ou{
    text-align: center;
}

div.contato{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
}

.btn{
    background-color: #2C5288 !important;
}

div#submit{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div#sexoInput{
    text-align: center;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

/*Header*/

#header{
    width: 100%;
    height: 10%;
    top: 0;
    background-color: #1D3557;
    color:cornsilk;
}

h2{
    text-align: center;
}

a:hover{
    font-weight: bold;
}

div#title{
    background-color: #2C5288;
}

div#contentHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    align-items: center;
    text-align: center;
} 

a{
    color: cornsilk !important;
    text-decoration: none !important;
}  
