div.contato{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

div#content{
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
}

div#conteudo{
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top: 2%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
}

span#ou{
    text-align: center;
}

button{
    background-color: #2C5288 !important;
}

div#submit{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

textarea{
    width: 100%;
}

label{
    font-weight: bold;
}

select#inputGroupSelect01{
    width:85%;
}

.border{
    border: 1px solid #2C5288 !important;
}

/*Header*/

#header{
    width: 100%;
    height: 10%;
    top: 0;
    background-color: #1D3557;
    color:cornsilk;
}

h2{
    text-align: center;
}

a:hover{
    font-weight: bold;
}

div#title{
    background-color: #2C5288;
}

div#contentHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    align-items: center;
    text-align: center;
} 

a{
    color: cornsilk !important;
    text-decoration: none !important;
}  

a#voltar{
    background-color: #2C5288 !important;
}