div.contato{
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
}

html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

div#content{
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
}

div#conteudo{
    justify-content: center;
    align-items: center;
    width: 30%;
    margin-top: 2%;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
}

span#ou{
    text-align: center;
}

button{
    background-color: #2C5288 !important;
}

div#submit{
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea{
    width: 100%;
}

label{
    font-weight: bold;
}

select#inputGroupSelect01{
    width:85%;
}

.border{
    border: 1px solid #2C5288 !important;
}

/*Header*/

#header{
    width: 100%;
    height: 10%;
    top: 0;
    background-color: #1D3557;
    color:cornsilk;
}

h2{
    text-align: center;
}

a:hover{
    font-weight: bold;
}

div#title{
    background-color: #2C5288;
}

div#contentHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    align-items: center;
    text-align: center;
} 

a{
    color: cornsilk !important;
    text-decoration: none !important;
}  


/*Footer*/


footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 25px 100px;
    background-color: #1D3557;
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-template-columns: 3fr;
    padding-top: 1%;
}

footer .container{
    align-items: center;
	height: 200px;
    display: grid;
    justify-content: space-between;
    flex-direction: row;
    grid-template-columns: 1fr 1fr; 
}


footer .container h2{
    position: relative;
    text-transform: uppercase;
    color: #FEFFF7;
    font-weight: 400;
    margin-bottom: 15px;
}


.about-us{
	height: 200px;
	margin-right: 30px;
}

footer .container #bolder{
    font-weight: 800;
}

footer .container h2:before{
    content: '';
    display: flex;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #BAD1CE;
}

footer p{
    color:#a3a39f;
}

.sci{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #4F4F4F;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    color:#FEFFF7;
}

.sci li a:hover{
    background-color: #FEFFF7;
    color: #363636;
    transition: 1s;
}

.sci li a .fa{
    font-size: 20px;
}
.know-more{
  height: 200px;
  margin-right: 30px;
  position: relative;
}

.know-more ul li{
    list-style: none;
}

.know-more ul li a{
   color:#a3a39f;
   text-decoration: none;
   margin-bottom: 10px;
   display: inline-block;
}

.know-more ul li a:hover{
    color:#FEFFF7;

}

.talk-to-us{
	height: 200px;
}

.talk-to-us .info{
    display: inline-block;
}

.talk-to-us .info ul{
	justify-content: center;
	display: flex;
}

.talk-to-us .info li{
    display: flex;
    text-align: center;
    margin-bottom: 8px;
}

.talk-to-us .info li span:nth-child(1){
    color: #FEFFF7;
    font-size: 20px;
    margin-right: 10px;
}

.talk-to-us .info li span{
    color: #a3a39f;
}

.talk-to-us .info li a{
    color: #a3a39f;
    text-decoration: none;
}

.talk-to-us .info li a:hover{
    color:#FEFFF7;
}

.copyright{
    width: 100%;
    background-color: #242424;
    padding: 8px 100px;
    text-align: center;
    color: #FEFFF7;
}

@media only screen and (max-device-width: 500px) {
	.container{
		width: 100% !important;
		margin-left:0 !important;
	}
}

#footer{
    bottom: 0;
    height: 29%;
    background-color: #1D3557;
    color:cornsilk;
    width: 100%;
}