/*Geral*/
html,body{
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}
 /*Conteúdo*/

#conteudo{
    margin-bottom: 2%;
}

div#left{
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

div#right{
    width: 50%;
    display: flex;
    align-items: center;
}

/*Header*/

div#header{
    width: 100%;
    height: 10%;
    top: 0;
    background-color: #1D3557;
    color:cornsilk;
}

div#header a {
    text-decoration: none;
    color: cornsilk;
}

a:hover{
    font-weight: bold;
}

div#title{
    background-color: #2C5288;
}

h2#titleName{
    text-align: center;
}

div#conteudo{
    margin-top: 2%;
}

div#left{
    padding: 1%;
}


div#content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 80%;
    align-items: center;
    text-align: center;
}
