/*Geral*/
html,body{
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}

/*Header*/

div#header{
    width: 100%;
    height: 10%;
    top: 0;
    background-color: #1D3557;
    color:cornsilk;
}

div#header a {
    text-decoration: none;
    color: cornsilk;
}

a:hover{
    font-weight: bold;
}

div#title{
    background-color: #2C5288;
}

#updateForm{
    height: 100%;
    width: 35%;
    color: cornsilk;
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: left;
    background-color: #2C5288;
    margin-right: 0;
    padding: 1%;
    border-radius: 5%;
}

div#dados h3, div#dados h4{
    font-weight: bold;
    text-align: left;
}

#formulario{
    justify-content: center;
    display: flex;
}

input{
    width: 100%;
}

div#campos{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.contato{
    width: 47%;
}

.identificacao{
    width: 47%;
}

#necessidades input{
    width: auto;
}

.btn{
    background-color: cornsilk !important;
    color: #2C5288 !important;
    font-size: 1.2rem !important;
}

div#submit{
    display: flex;
    align-items: center;
    justify-content: center;
}

div#content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 80%;
    align-items: center;
}

/* Conteudo */
div#container{
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}