html,body{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif !important;
}

#detalharInst{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 100%;
}


ol, ul{
    list-style: none;
    padding: 0 !important;
}

div#content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    width: 80%;
    align-items: center;
    text-align: center;
}

/* Página de Login */
div#login{
    background-color: #2C5288;
    width: 35%;
    vertical-align: middle;
    color: cornsilk;
}

div#login h3, div#login h4{
    font-weight: bold;
    text-align: left;
}

h4#errorMessage{
    text-align: center !important;
}

div#container{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 100%;
}

#enviar{
    background-color: #1D3557;
    border-color: white;
    color: cornsilk;
    font-weight: bold;
}

/* Página de listar instituições */

header{
    background-color: #1D3557;
    width: 100%;
    color: cornsilk;
}

div#logout{
    text-align: right;
}

a{
    color:cornsilk !important;
}

#title{
    text-align: center;
    background-color: #2C5299;
}

#instituicaoList{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#instituicaoAll{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 3%;
    padding-bottom: 5%;
}

.instituicoes{
    padding: 5%;
    margin-bottom: 0;
}

.card-img-top{
    width: 75% !important;
}

div#searchGroup{
    background-color: #2C5288;
    margin-top: 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    color: cornsilk;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
}

select#searchNecessidade{
    width: 50%;
}

input#searchNome, input#searchCausa, select#searchNecessidade{
    border-radius: 5px;
}

div#paginacaoBottom, div#paginacaoTop{
    text-align: center;
}

span{
    cursor: pointer;
}