<!DOCTYPE html>
<html lang="en">
<head th:replace="~{../static/fragments/head/head.html::head('Re:Donate', 'cadastrarDoador')}"></head>

    <body>
        <div id="container">

            <div th:replace="~{../static/fragments/header/header.html::headerLogin}"></div>
            <div id="conteudo">
                <form id="cadastroForm" method="POST" class="border border-info p-3">
                    <div class="form-group">
                        <label for="nomeInput">Nome</label>
                        <input type="text" class="form-control" name="nomeUsuario" id="nomeInput" aria-describedby="nomeHelp" minlength="5" placeholder="Seu nome" required>
                    </div>
                    <div class="form-group">
                        <label for="enderecoInput">Endereço</label>
                        <input type="text" class="form-control" name="enderecoUsuario" id="enderecoInput"  minlength="8" placeholder="Seu endereço" required>
                    </div>
                    <div class="form-group">
                        <label for="cidadeInput">Cidade</label>
                        <input type="text" class="form-control" name="cidadeUsuario" id="cidadeInput" minlength="4" placeholder="Sua cidade" required>
                    </div>
                    <div class="form-group">
                        <label for="estadoInput">Estado</label>
                        <input type="text" class="form-control" name="estadoUsuario" id="estadoInput" minlength="4" placeholder="Seu Estado" required>
                    </div>
                    <div class="form-group">
                        <label for="contatoInput">Contato</label>
                        <div class="contato" id="contatoInput">
                            <input type="text" class="form-control" name="telefoneUsuario" placeholder="Seu telefone" data-inputmask="'mask': '(99) 9999-9999'">
                            <span id="ou">ou</span>
                            <input type="text" class="form-control" name="celularUsuario" placeholder="Seu celular" data-inputmask="'mask': '(99) 99999-9999'">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cpfInput">CPF</label>
                        <input type="text" class="form-control" name="cpfUsuario" id="cpfInput" placeholder="Seu cpf" data-inputmask="'mask': '999.999.999-99'" required>
                        <span style="color: red" id="cpfValidator"></span>
                    </div>
                    <div class="form-group">
                        <label for="nascimento">Data de Nascimento</label>
                        <input id="nascimento" class="form-control" type="date" name="nascimentoDoador" value="1900-01-01" min="1900-01-01" max="2018-12-31" required>
                    </div>
                    <div class="form-group">
                        <label for="sexoInput">Sexo</label>
                        <div id="sexoInput">
                            <div>
                                <input type="radio" class="form-check-input" name="sexoDoador" value="Masculino" required> Masculino
                            </div>
                            <div>
                                <input type="radio" class="form-check-input" name="sexoDoador" value="Feminino" required> Feminino
                            </div>
                            <div>
                                <input type="radio" class="form-check-input" name="sexoDoador" value="Outro" required> Outro
                            </div>
                        </div>
                    </div>
                    <br />
                    <div id="submit">
                        <a class="btn text-white w-25" id="voltar" href="/cadastrar">Voltar</a>
                        <button type="submit" class="btn text-white w-25" id="cadastrar" disabled>Enviar</button>
                    </div>
                </form>
            </div>

            <div class="body-footer" id="footer" th:replace="~{../static/fragments/footer/footer.html::footerLogin}"> </div>
        </div>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script th:src="@{/webjars/inputmask/dist/jquery.inputmask.min.js}"></script>

        <script>
            $(document).ready(function() {
                $(":input").inputmask();

                // Validar estado do formulário a cada input
                $("#cadastroForm :input").on("input", () => {
                    const nomePreenchido = $("#nomeInput").val() != "";
                    const enderecoPreenchido = $("#enderecoInput").val() != "";
                    const cidadePreenchido = $("#cidadeInput").val() != "";
                    const estadoPreenchido = $("#estadoInput").val() != "";
                    const cpf = $("#cpfInput");
                    const sexoPreenchido = $("#sexoInput :radio:checked").length > 0;
                    let cpfValid;

                    if(cpf.val().indexOf("_") == -1 && cpf.val().length > 0){
                        $.ajax({
                            method: "GET",
                            dataType: "json",
                            url: "http://localhost:8080/validar/cpf",
                            data: {cpf: cpf.val()},
                            async: false,
                            success: function (data, status) {
                                cpfValid = data;
                                if(!cpfValid)
                                    $("#cpfValidator").text("CPF INSERIDO É INVÁLIDO")
                                else
                                    $("#cpfValidator").text("")
                            }
                        });
                    }

                    if(nomePreenchido && enderecoPreenchido && cidadePreenchido && estadoPreenchido && (cpf.val().indexOf("_") == -1 && cpf.val().length > 0) && cpfValid && sexoPreenchido)
                        $("#cadastrar").prop("disabled", false);
                    else
                        $("#cadastrar").prop("disabled", true);
                });
            });

            // Inicializar o campo de data de nascimento
            let today = new Date();
            let dd = today.getDate();
            let mm = today.getMonth() + 1;
            let yyyy = today.getFullYear();
            if(dd<10){
                dd='0'+dd
            }
            if(mm<10){
                mm='0'+mm
            }

            today = yyyy+'-'+mm+'-'+dd;
            let nascimento = document.getElementById("nascimento");
            nascimento.setAttribute("max", today);
            nascimento.setAttribute("value", today);
        </script>
    </body>
</html>