<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de usuario</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/cadastrarInstituicao.css" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/font-awesome.min.css} "/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <div id="content">
        <div id="header">
            <header>
                <div id="contentHeader" class="mx-auto w-75 pt-3">
                    <div id="logout">
                        <a href="/cadastrar"> Voltar </a>
                    </div>
                    <div id="logged">
                        <p> Insira seus dados para finalizar o cadastro </p><br>
                    </div>
                </div>
                <div id="title">
                    <h2> Cadastro! </h2>
                </div>
            </header>
        </div>
        <div id="conteudo">
            <form id="cadastroForm" method="POST" class="border border-info p-3">

                <div class="form-group">
                    <label for="nomeInput">Nome da sua instituição</label>
                    <input type="text" class="form-control" name="nomeUsuario" id="nomeInput" aria-describedby="nameHelp" minlength="5" placeholder="Nome da sua instituição" required>
                </div>
                <br/>
                <div class="form-group">
                    <label for="enderecoInput">Endereço da instituição</label>
                    <input type="text" class="form-control" name="enderecoUsuario" id="enderecoInput" aria-describedby="emailHelp" minlength="8" placeholder="Endereço da instituição" required>
                </div>
                <br/>
                <div class="form-group">
                    <label for="cidadeInput">Cidade da Instituição</label>
                    <input type="text" class="form-control" name="cidadeUsuario" id="cidadeInput" aria-describedby="cidadeHelp" minlength="4" placeholder="Cidade da instituição" required>
                </div>
                <br/>
                <div class="form-group">
                    <label for="estadoInput">Estado da Instituição</label>
                    <input type="text" class="form-control" name="estadoUsuario" id="estadoInput" aria-describedby="estadoHelp" minlength="4" placeholder="Estado da instituição" required>
                </div>
                <br/>
                <div class="form-group">
                    <label for="contatoInput">Contato</label>
                    <div class="contato" id="contatoInput">
                        <input type="text" class="form-control" name="telefoneUsuario" aria-describedby="telefoneHelp" placeholder="Telefone da instituicao" data-inputmask="'mask': '(99) 9999-9999'">
                        <span id="ou">ou</span>
                        <input type="text" class="form-control" name="celularUsuario" aria-describedby="celularHelp" placeholder="Celular da instituicao" data-inputmask="'mask': '(99) 99999-9999'">
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label for="identificacaoInput">Identificação</label>
                    <div class="contato" id="identificacaoInput">
                        <input type="text" class="form-control" name="cnpjInstituicao" id="cnpj" aria-describedby="cnpjHelp" placeholder="CNPJ da instituicao" data-inputmask="'mask': '99.999.999/9999-99'">
                        <span id="ou">ou</span>
                        <input type="text" class="form-control" name="cpfUsuario" id="cpf" aria-describedby="cpfHelp" placeholder="CPF do representante da instituicao" data-inputmask="'mask': '999.999.999-99'">
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label for="causaInput">Causa</label>
                    <input type="text" class="form-control" name="causaInstituicao" id="causaInput" aria-describedby="causaHelp" placeholder="Causa da instituicao" required>
                </div>
                <br />
                <div class="form-group">
                    <label for="necessidadeInput">Selecione as necessidades da sua instituição</label>
                    <div id="necessidadeInput">
                        <input type="checkbox" name="necessidadesInstituicao" aria-describedby="necessidadeHelp" value="Alimentos" > Alimentos <br>
                        <input type="checkbox" name="necessidadesInstituicao" aria-describedby="necessidadeHelp" value="Remédios" > Remédios ou outros produtos farmacêuticos <br>
                        <input type="checkbox" name="necessidadesInstituicao" aria-describedby="necessidadeHelp" value="Educação" > Educação <br>
                        <input type="checkbox" name="necessidadesInstituicao" aria-describedby="necessidadeHelp" value="Vestimentas" > Vestimentas <br>
                        <input type="checkbox" name="necessidadesInstituicao" aria-describedby="necessidadeHelp" value="Produtos para Pets" > Produtos para Pets <br>
                        <input type="checkbox" name="necessidadesInstituicao" aria-describedby="necessidadeHelp" value="Outros fins" > Investir o dinheiro da doação no que for necessário <br>
                    </div>
                </div>
                <br />
                <div id="submit">
                    <button type="submit" class="btn text-white w-25" id="cadastrar" disabled>Enviar</button>
                </div>
            </form>
        </div>
        <div class="body-footer" id="footer">
            <footer>
                <div class="container">
                    <div class="sec about-us" align="center">
                        <h2>Sobre <span id="bolder">Nós</span></h2>
                        <p>
                            Somos uma comunidade que tem como principal característica o companheirismo. Sempre que nós vemos alguém passando por necessidades nós percebemos que temos que agir. Um por todos e todos por um!
                        </p>
                        <ul class="sci" align="center">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="sec talk-to-us" align="center">
                        <h2>Fale <span id="bolder">Conosco</span></h2>
                        <ul class="info">
                            <li>
                                <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                <p><a href="mailto: reply@capratvagas.com.br">reply@redonate.com.br</a></p>
                            </li>
                            <li>
                                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                                <p><a href="tel: 551125658450">+55 11 2565-8450</a></p>
                            </li>
                            <li>
                                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <span>Av. Salgado Filho, 3501 <br>Guarulhos, São Paulo, Brasil</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
            <div class="copyright">
                <p>© Copyright 2021 ReDonate. Todos os direitos reservados.</p>
            </div>
        </div>
    </div>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/inputmask/dist/jquery.inputmask.min.js}"></script>

    <script>
        $(document).ready(function() {
            $(":input").inputmask();

            $("#cadastroForm :input").on("input", () => {
                const nomePreenchido = $("#nomeInput").val() != "";
                const enderecoPreenchido = $("#enderecoInput").val() != "";
                const cidadePreenchido = $("#cidadeInput").val() != "";
                const estadoPreenchido = $("#estadoInput").val() != "";
                const cnpj = $("#cnpj");
                const cpf = $("#cpf");
                const causaPreenchido = $("#causaInput").val() != "";
                const necessidadePreenchida = $("#necessidadeInput :checkbox:checked").length > 0;

                if(nomePreenchido && enderecoPreenchido && cidadePreenchido && estadoPreenchido && ((cpf.val().indexOf("_") == -1 && cpf.val().length > 0) || (cnpj.val().indexOf("_") == -1 && cnpj.val().length > 0)) && causaPreenchido && necessidadePreenchida)
                    $("#cadastrar").prop("disabled", false);
                else
                    $("#cadastrar").prop("disabled", true);
            });
        });
    </script>
</body>
</html>