<!DOCTYPE html>
<html lang="en">
<head th:replace="~{../static/fragments/head/head.html::head('Re:Donate', 'cadastrarUser')}"></head>
<body>
    <div id="content">
        <div th:replace="~{../static/fragments/header/header.html::headerLogin}"></div>

        <div id="conteudo" class="align-middle">
            <form id="cadastroForm" method="POST" class="border rounded border-info">

                <div class="form-group">
                    <label for="emailInput">Endereço de email</label>
                    <input type="email" class="form-control" name="emailUsuario" id="emailInput" aria-describedby="emailHelp" placeholder="Seu email" required>
                    <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
                </div>
                <br>
                <div class="form-group" id="senhaFields">
                    <label for="senhaInput">Senha</label>
                    <input type="password" class="form-control" id="senhaInput" name="senhaUsuario" placeholder="Senha" minlength="6" required>
                    <small class="form-text text-danger" id="senhaStrength"> Insira uma senha </small>
                    <br>
                    <input type="password" class="form-control" id="confirmInput" name="confirmarSenhaUsuario" placeholder="Confirme sua Senha" minlength="6" required>
                    <small class="form-text text-muted" id="senhaMatch"> As senhas não combinam </small>
                </div>
                <br>
                <div class="form-group form-check" id="tipoDoador">
                    <label> Deseja se cadastrar como: </label><br>
                    <input type="radio" id="doador" name="tipoUsuario" value="Doador" required> Doador<br>
                    <input type="radio" id="instituicao" name="tipoUsuario" value="Instituicao" required> Instituição
                </div>
                <br>
                <div id="submit">
                    <a class="btn btn-primary" id="voltar" href="/">Voltar</a>

                    <button type="submit" class="btn btn-primary" id="cadastrar" disabled>Enviar</button>
                </div>

            </form>
        </div>
        <div class="body-footer" id="footer" th:replace="~{../static/fragments/footer/footer.html::footerLogin}">

    </div>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/inputmask/dist/jquery.inputmask.min.js}"></script>
    <script>
        $(document).ready(function() {
            $(":input").inputmask();

            // Validar estado do formulário a cada input
            $("#cadastroForm :input").on("input", () => {
                const emailValidation = $("#emailInput").val() != "";
                const senhaComparation = $("#senhaInput").val() == $("#confirmInput").val();
                const doadorChecked = $("#doador").is(":checked");
                const instituicaoChecked = $("#instituicao").is(":checked");

                if (emailValidation && senhaComparation && (doadorChecked || instituicaoChecked)){
                    $("#cadastrar").prop("disabled", false);
                }else{
                    $("#cadastrar").prop("disabled", true);
                }

            });

            //Validar o estado das senhas e alterar o retorno visual a cada input nos campos de senha
            $("#senhaFields :input").on("input", () => {
                const senhaVal = $("#senhaInput").val();
                const confirmVal = $("#confirmInput").val();
                const senhaStrength = $("#senhaStrength");
                const senhaMatch = $("#senhaMatch");
                const strongPassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,})');
                const mediumPassword = new RegExp('(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.{6,})');

                if(senhaVal == confirmVal)
                    senhaMatch.html("As senhas combinam");
                else
                    senhaMatch.html("As senhas não combinam");

                if(strongPassword.test(senhaVal)){
                    senhaStrength.html("Senha Forte");
                    senhaStrength.removeClass("text-danger");
                    senhaStrength.removeClass("text-primary");
                    senhaStrength.addClass("text-success");
                }else{
                    if(mediumPassword.test(senhaVal)){
                        senhaStrength.html("Senha Média");
                        senhaStrength.removeClass("text-danger");
                        senhaStrength.removeClass("text-success");
                        senhaStrength.addClass("text-primary");
                    }else{
                        senhaStrength.html("Senha Fraca");
                        senhaStrength.removeClass("text-success");
                        senhaStrength.removeClass("text-primary");
                        senhaStrength.addClass("text-danger");
                    }
                }

            });
        });
    </script>
</body>
</html>