<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de usuario</title>
</head>
<body>
    <h2> Insira seus dados para finalizar o cadastro </h2>
    <form method="POST">

        <input type="text" name="nomeDoador" placeholder="Seu nome">
        <input type="text" name="enderecoDoador" placeholder="Seu endereço">
        <input type="text" name="cidadeDoador" placeholder="Sua cidade">
        <input type="text" name="telefoneDoador" placeholder="Seu telefone">
        ou
        <input type="text" name="celularDoador" placeholder="Seu celular">
        <input type="text" name="cpfDoador" placeholder="Seu cpf">
        <input type="number" name="idadeDoador" placeholder="Sua idade">
        <label> Seu sexo: </label>
        <input type="radio" name="sexoDoador" value="Masculino"> Masculino
        <input type="radio" name="sexoDoador" value="Feminino"> Feminino
        <input type="radio" name="sexoDoador" value="Outro"> Outro
        <input type="submit">
    </form>
</body>
</html>