<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de usuario</title>
</head>
<body>

    <h2> Insira seus dados para finalizar o cadastro </h2>
    <form method="POST">

      <input type="text" name="nomeInstituicao" placeholder="Nome da instituicao">
      <input type="text" name="enderecoInstituicao" placeholder="Endereco da instituicao">
      <input type="text" name="cidadeInstituicao" placeholder="Cidade da instituicao">
      <input type="text" name="telefoneInstituicao" placeholder="Telefone da instituicao">
      ou
      <input type="text" name="celularInstituicao" placeholder="Celular da instituicao">
      <input type="text" name="cnpjInstituicao" placeholder="CNPJ da instituicao">
      ou
      <input type="text" name="cpfInstituicao" placeholder="CPF do representante da instituicao">
      <input type="text" name="causaInstituicao" placeholder="Causa da instituicao">
      <p> Separe cada necessidade por ';' </p>
      <p> Exemplo: "roupas;alimentos nao pereciveis;eletrodomesticos" </p>
      <textarea type="text" name="necessidadesInstituicao" placeholder="Necessidades da instituicao">

      </textarea>

      <input type="submit">
    </form>
</body>
</html>