<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doações Recebidas</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css} "/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    <div id="content" class="mx-auto w-75 pt-3">
      <div id="logged">
        <p> Olá, <span th:text="${dadosInst.usuarioInstituicao.nomeUsuario}"> id </span> </p>
      </div>
      <div id="logout">
        <a href="/"> Deslogar </a><br><br>
      </div>
      <br>
      <div>
         <p> Para acessar e alterar os dados da sua instituição, clique <a href="/instituicoes/dados"> aqui </a> </p>
      </div>
    </div>
    <div id="title">
      <h2> Doações Recebidas </h2>
    </div>
  </header>

  <div th:unless="${#lists.isEmpty(doacoes)}">
    <div th:each="i : ${#numbers.sequence(0, (#lists.size(doacoes) - 1))}">
        <h2 th:text="'Doação feita por: ' + ${doadores.get(i).usuarioDoador.nomeUsuario}"> nome do Doador </h2>
        <p th:text="'Doação realizada em: ' + ${doacoes.get(i).createdAt.toLocaleString()}" > data da Doação </p>
        <h3 th:text="'Doação para o fim de: ' + ${doacoes.get(i).causaDoacao}"> motivo da Doação </h3>
        <h4 th:text="'Doação com o valor de: R$ ' + ${doacoes.get(i).valorDoacao}"> valor da Doação </h4>
    </div>

    <div th:each="i : ${#numbers.sequence(0, (#lists.size(causas) - 1))}">
        <h2 th:text="'Você recebeu, ao total, R$ ' + ${valores.get(i)} + ' para o fim de: ' + ${causas.get(i)}"> causa da Doação </h2>
    </div>

    <h1 th:text="'Ao total, você recebeu: ' + ${total}"> Total recebido </h1>
  </div>

  <div th:if="${#lists.isEmpty(doacoes)}">
      <h2> Você ainda não recebeu nenhuma doação </h2>
  </div>
</body>
</html>