<!DOCTYPE html>
<html lang="en">
<head th:replace="~{../static/fragments/head/head.html::head('Re:Donate', 'dadosDoacoes')}"></head>
<body>
    <div id="container">
        <div th:replace="~{../static/fragments/header/header.html::headerGeral(${dadosUser.nomeUsuario})}"></div>

        <div id="doacoes" class="container">
            <div th:unless="${#lists.isEmpty(doacoes)}" id="conteudo" class="row">
                <div id="left" class="border border-info col">
                    <div th:each="i : ${#numbers.sequence(0, (#lists.size(doacoes) - 1))}">
                        <div class="card">
                            <div  class="card-body">
                                <h2 class="card-title" th:text="${queroDoadores} ? 'Doação feita por: ' + ${outraPonta.get(i).usuarioDoador.nomeUsuario} : 'Doação enviada para: ' + ${outraPonta.get(i).usuarioInstituicao.nomeUsuario}"> nome da outra ponta </h2>
                                <p class="card-subtitle" th:text="'Doação realizada em: ' + ${doacoes.get(i).createdAt.toLocaleString()}" > data da Doação </p>
                                <h3 class="card-text" th:text="'Doação para o fim de: ' + ${doacoes.get(i).causaDoacao}"> motivo da Doação </h3>
                                <h4 class="card-text" th:text="'Doação com o valor de: R$ ' + ${doacoes.get(i).valorDoacao}"> valor da Doação </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="right" class="border border-info col">
                    <div id="conteudoDireita">
                        <div th:each="i : ${#numbers.sequence(0, (#lists.size(causas) - 1))}">
                            <h2 th:text="${queroDoadores} ? 'Você recebeu, ao total, R$ ' + ${valores.get(i)} + ' para o fim de: ' + ${causas.get(i)} : 'Você doou, ao total, R$ ' + ${valores.get(i)} + ' para o fim de: ' + ${causas.get(i)}"> causa da Doação </h2>
                        </div>
                        <br/>
                        <h1 th:text="${queroDoadores} ? 'Ao total, você recebeu: R$ ' + ${total} : 'Ao total, você doou: R$ ' + ${total}"> Total recebido </h1>
                    </div>
                </div>
            </div>

          <div th:if="${#lists.isEmpty(doacoes)}">
              <h2> Você ainda não recebeu nenhuma doação </h2>
          </div>
        </div>
        <div class="body-footer" id="footer" th:replace="~{../static/fragments/footer/footer.html::footer}">

    </div>
</body>
</html>