<!DOCTYPE html>
<html lang="en">
<head th:replace="~{../static/fragments/head/head.html::head('Re:Donate', 'dadosInstituicao')}"></head>
<body>
    <div id="container">
        <div th:replace="~{../static/fragments/header/header.html::headerGeral(${dadosInst.usuarioInstituicao.nomeUsuario})}"></div>
        <div id="formulario">
            <form id="updateForm" method="POST">
                <div id="campos">
                    <input type="hidden" name="id" th:value="${dadosInst.id}">
                    <div class="form-group">
                        <label>Nome da Instituição:</label><br/>
                        <input type="text" name="nomeUsuario" id="nomeInput" th:value="${dadosInst.usuarioInstituicao.nomeUsuario}" minlength="5" placeholder="Nome da instituicao" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Endereço:</label><br/>
                        <input type="text" name="enderecoUsuario" id="enderecoInput" th:value="${dadosInst.usuarioInstituicao.enderecoUsuario}" minlength="8" placeholder="Endereco da instituicao" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Cidade:</label><br/>
                        <input type="text" name="cidadeUsuario" id="cidadeInput" th:value="${dadosInst.usuarioInstituicao.cidadeUsuario}" minlength="4" placeholder="Cidade da instituicao" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Estado:</label><br/>
                        <input type="text" name="estadoUsuario" id="estadoInput" th:value="${dadosInst.usuarioInstituicao.estadoUsuario}" minlength="4" placeholder="Estado da instituicao" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Contato:</label><br/>
                        <input type="text" name="telefoneUsuario" th:value="${dadosInst.usuarioInstituicao.telefoneUsuario}" class="contato" placeholder="Telefone da instituicao" data-inputmask="'mask': '(99) 9999-9999'">
                        ou
                        <input type="text" name="celularUsuario" th:value="${dadosInst.usuarioInstituicao.celularUsuario}" class="contato" placeholder="Celular da instituicao" data-inputmask="'mask': '(99) 99999-9999'">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>CNPJ/CPF:</label><br/>
                        <input type="text" name="cnpjInstituicao" id="cnpj" th:value="${dadosInst.cnpjInstituicao}" class="identificacao" placeholder="CNPJ da instituicao" data-inputmask="'mask': '99.999.999/9999-99'">
                        ou
                        <input type="text" name="cpfUsuario" id="cpf" th:value="${dadosInst.usuarioInstituicao.cpfUsuario}" class="identificacao" placeholder="CPF do representante da instituicao" data-inputmask="'mask': '999-999-999-99'">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Causa:</label><br/>
                        <input type="text" name="causaInstituicao" id="causaInput" th:value="${dadosInst.causaInstituicao}" placeholder="Causa da instituicao" required>
                    </div>
                    <br>
                    <div id="necessidades" th:with="necessidade = ${dadosInst.necessidadesInstituicao.split(',')}">
                        <label> Selecione as necessidades da sua instituição: </label><br>
                        <p th:if="${#arrays.contains(necessidade, 'Alimentos')}">
                            <input checked type="checkbox" name="necessidadesInstituicao" value="Alimentos"> Alimentos
                        </p>
                        <p th:if="${#arrays.contains(necessidade, 'Remédios')}">
                            <input checked type="checkbox" name="necessidadesInstituicao" value="Remédios"> Remédios ou outros produtos farmacêuticos
                        </p>
                        <p th:if="${#arrays.contains(necessidade, 'Educação')}">
                            <input checked type="checkbox" name="necessidadesInstituicao" value="Educação"> Educação
                        </p>
                        <p th:if="${#arrays.contains(necessidade, 'Vestimentas')}">
                            <input checked type="checkbox" name="necessidadesInstituicao" value="Vestimentas"> Vestimentas
                        </p>
                        <p th:if="${#arrays.contains(necessidade, 'Produtos para Pets')}">
                            <input checked type="checkbox" name="necessidadesInstituicao" value="Produtos para Pets"> Produtos para Pets
                        </p>
                        <p th:if="${#arrays.contains(necessidade, 'Outros fins')}">
                            <input checked type="checkbox" name="necessidadesInstituicao" value="Outros fins"> Outros fins
                        </p>

                        <p th:unless="${#arrays.contains(necessidade, 'Alimentos')}">
                            <input type="checkbox" name="necessidadesInstituicao" value="Alimentos"> Alimentos
                        </p>
                        <p th:unless="${#arrays.contains(necessidade, 'Remédios')}">
                            <input type="checkbox" name="necessidadesInstituicao" value="Remédios"> Remédios ou outros produtos farmacêuticos
                        </p>
                        <p th:unless="${#arrays.contains(necessidade, 'Educação')}">
                            <input type="checkbox" name="necessidadesInstituicao" value="Educação"> Educação
                        </p>
                        <p th:unless="${#arrays.contains(necessidade, 'Vestimentas')}">
                            <input type="checkbox" name="necessidadesInstituicao" value="Vestimentas"> Vestimentas
                        </p>
                        <p th:unless="${#arrays.contains(necessidade, 'Produtos para Pets')}">
                            <input type="checkbox" name="necessidadesInstituicao" value="Produtos para Pets"> Produtos para Pets
                        </p>
                        <p th:unless="${#arrays.contains(necessidade, 'Outros fins')}">
                            <input type="checkbox" name="necessidadesInstituicao" value="Outros fins"> Outros fins
                        </p>
                    </div>
                    <br/>
                    <div id="submit">
                        <button type="submit" id="atualizar" class="btn w-25">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="body-footer" id="footer" th:replace="~{../static/fragments/footer/footer.html::footer}">

    </div>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/inputmask/dist/jquery.inputmask.min.js}"></script>

    <script>
        $(document).ready(function() {
            $(":input").inputmask();

            $("#updateForm :input").on("input", () => {
                const nomePreenchido = $("#nomeInput").val() != "";
                const enderecoPreenchido = $("#enderecoInput").val() != "";
                const cidadePreenchido = $("#cidadeInput").val() != "";
                const estadoPreenchido = $("#estadoInput").val() != "";
                const cnpj = $("#cnpj");
                const cpf = $("#cpf");
                const causaPreenchido = $("#causaInput").val() != "";
                const necessidadePreenchida = $("#necessidades :checkbox:checked").length > 0;

                if(nomePreenchido && enderecoPreenchido && cidadePreenchido && estadoPreenchido && ((cpf.val().indexOf("_") == -1 && cpf.val().length > 0) || (cnpj.val().indexOf("_") == -1 && cnpj.val().length > 0)) && causaPreenchido && necessidadePreenchida)
                    $("#atualizar").prop("disabled", false);
                else
                    $("#atualizar").prop("disabled", true);
            });
        });
    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        let sucesso = /*[[${success}]]*/ 'resultado da doação';
        if(sucesso != null){
            if(sucesso)
                window.alert("Dados atualizados com sucesso!");
            else
                window.alert("Erro ao atualizar dados!");
        }

        /*]]>*/
    </script>
</body>
</html>