<!DOCTYPE html>
<html lang="en">
<head th:replace="~{../static/fragments/head/head.html::head('Re:Donate', 'dadosInst')}"></head>
<!--
<head>
    <meta charset="UTF-8">
    <title th:text="${dadosInst.usuarioInstituicao.nomeUsuario}">Seus dados</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/dadosInstituicao.css" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css} "/>
    <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/css/font-awesome.min.css} "/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
-->
<body>
    <div id="container">
        <!--
        <div id="header">
            <header>
                <div id="content" class="mx-auto w-75 pt-3">
                    <div id="logged">
                        <p> Olá, <span th:text="${dadosInst.usuarioInstituicao.nomeUsuario}"> id </span> </p>
                    </div>
                    <div>
                        <p> <a href="/doacoes/dados"> Seu histórico </a> </p>
                    </div>
                    <div id="logout">
                        <a href="/"> Deslogar </a><br><br>
                    </div>
                </div>
                <div id="title">
                    <h2> Seus dados </h2>
                </div>
            </header>
        </div>
        -->
        <div th:replace="~{../static/fragments/header/header.html::headerGeral}"></div>
        <div id="formulario">
            <form id="updateForm" method="POST">
                <div id="campos">
                    <input type="hidden" name="id" th:value="${dadosInst.id}">
                    <div class="form-group">
                        <label>Nome da Instituição:</label><br/>
                        <input type="text" name="nomeUsuario" id="nomeInput" th:value="${dadosInst.usuarioInstituicao.nomeUsuario}" minlength="5" placeholder="Nome da instituicao" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Endereço:</label><br/>
                        <input type="text" name="enderecoUsuario" id="enderecoInput" th:value="${dadosInst.usuarioInstituicao.enderecoUsuario}" minlength="8" placeholder="Endereco da instituicao" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Cidade:</label><br/>
                        <input type="text" name="cidadeUsuario" id="cidadeInput" th:value="${dadosInst.usuarioInstituicao.cidadeUsuario}" minlength="4" placeholder="Cidade da instituicao" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Estado:</label><br/>
                        <input type="text" name="estadoUsuario" id="estadoInput" th:value="${dadosInst.usuarioInstituicao.estadoUsuario}" minlength="4" placeholder="Estado da instituicao" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Contato:</label><br/>
                        <input type="text" name="telefoneUsuario" th:value="${dadosInst.usuarioInstituicao.telefoneUsuario}" class="contato" placeholder="Telefone da instituicao" data-inputmask="'mask': '(99) 9999-9999'">
                        ou
                        <input type="text" name="celularUsuario" th:value="${dadosInst.usuarioInstituicao.celularUsuario}" class="contato" placeholder="Celular da instituicao" data-inputmask="'mask': '(99) 99999-9999'">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>CNPJ/CPF:</label><br/>
                        <input type="text" name="cnpjInstituicao" id="cnpj" th:value="${dadosInst.cnpjInstituicao}" class="identificacao" placeholder="CNPJ da instituicao" data-inputmask="'mask': '99.999.999/9999-99'">
                        ou
                        <input type="text" name="cpfUsuario" id="cpf" th:value="${dadosInst.usuarioInstituicao.cpfUsuario}" class="identificacao" placeholder="CPF do representante da instituicao" data-inputmask="'mask': '999-999-999-99'">
                    </div>
                    <br>
                    <div class="form-group">
                        <label>Causa:</label><br/>
                        <input type="text" name="causaInstituicao" id="causaInput" th:value="${dadosInst.causaInstituicao}" placeholder="Causa da instituicao" required>
                    </div>
                    <br>
                    <div id="necessidades" th:with="necessidade = ${dadosInst.necessidadesInstituicao.split(',')}">
                        <label> Selecione as necessidades da sua instituição: </label><br>
                        <p th:if="${#arrays.contains(necessidade, 'Alimentos')}">
                            <input checked type="checkbox" name="necessidadesInstituicao" value="Alimentos"> Alimentos
                        </p>
                        <p th:if="${#arrays.contains(necessidade, 'Remédios')}">
                            <input checked type="checkbox" name="necessidadesInstituicao" value="Remédios"> Remédios ou outros produtos farmacêuticos
                        </p>
                        <p th:if="${#arrays.contains(necessidade, 'Educação')}">
                            <input checked type="checkbox" name="necessidadesInstituicao" value="Educação"> Educação
                        </p>
                        <p th:if="${#arrays.contains(necessidade, 'Vestimentas')}">
                            <input checked type="checkbox" name="necessidadesInstituicao" value="Vestimentas"> Vestimentas
                        </p>
                        <p th:if="${#arrays.contains(necessidade, 'Produtos para Pets')}">
                            <input checked type="checkbox" name="necessidadesInstituicao" value="Produtos para Pets"> Produtos para Pets
                        </p>
                        <p th:if="${#arrays.contains(necessidade, 'Outros fins')}">
                            <input checked type="checkbox" name="necessidadesInstituicao" value="Outros fins"> Outros fins
                        </p>

                        <p th:unless="${#arrays.contains(necessidade, 'Alimentos')}">
                            <input type="checkbox" name="necessidadesInstituicao" value="Alimentos"> Alimentos
                        </p>
                        <p th:unless="${#arrays.contains(necessidade, 'Remédios')}">
                            <input type="checkbox" name="necessidadesInstituicao" value="Remédios"> Remédios ou outros produtos farmacêuticos
                        </p>
                        <p th:unless="${#arrays.contains(necessidade, 'Educação')}">
                            <input type="checkbox" name="necessidadesInstituicao" value="Educação"> Educação
                        </p>
                        <p th:unless="${#arrays.contains(necessidade, 'Vestimentas')}">
                            <input type="checkbox" name="necessidadesInstituicao" value="Vestimentas"> Vestimentas
                        </p>
                        <p th:unless="${#arrays.contains(necessidade, 'Produtos para Pets')}">
                            <input type="checkbox" name="necessidadesInstituicao" value="Produtos para Pets"> Produtos para Pets
                        </p>
                        <p th:unless="${#arrays.contains(necessidade, 'Outros fins')}">
                            <input type="checkbox" name="necessidadesInstituicao" value="Outros fins"> Outros fins
                        </p>
                    </div>
                    <br/>
                    <div id="submit">
                        <button type="submit" id="atualizar" class="btn w-25">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="body-footer" id="footer" th:replace="~{../static/fragments/footer/footer.html::footer}">
        <!--
        <div class="body-footer" id="footer">
            <footer>
                <div class="container">
                    <div class="sec about-us" align="center">
                        <h2>Sobre <span id="bolder">Nós</span></h2>
                        <p>
                            Somos uma comunidade que tem como principal característica o companheirismo. Sempre que nós vemos alguém passando por necessidades nós percebemos que temos que agir. Um por todos e todos por um!
                        </p>
                        <ul class="sci" align="center">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="sec talk-to-us" align="center">
                        <h2>Fale <span id="bolder">Conosco</span></h2>
                        <ul class="info">
                            <li>
                                <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                <p><a href="mailto: reply@capratvagas.com.br">reply@redonate.com.br</a></p>
                            </li>
                            <li>
                                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                                <p><a href="tel: 551125658450">+55 11 2565-8450</a></p>
                            </li>
                            <li>
                                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <span>Av. Salgado Filho, 3501 <br>Guarulhos, São Paulo, Brasil</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
            <div class="copyright">
                <p>© Copyright 2021 ReDonate. Todos os direitos reservados.</p>
            </div>
        </div>
        -->
    </div>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/inputmask/dist/jquery.inputmask.min.js}"></script>

    <script>
        $(document).ready(function() {
            $(":input").inputmask();

            $("#updateForm :input").on("input", () => {
                const nomePreenchido = $("#nomeInput").val() != "";
                const enderecoPreenchido = $("#enderecoInput").val() != "";
                const cidadePreenchido = $("#cidadeInput").val() != "";
                const estadoPreenchido = $("#estadoInput").val() != "";
                const cnpj = $("#cnpj");
                const cpf = $("#cpf");
                const causaPreenchido = $("#causaInput").val() != "";
                const necessidadePreenchida = $("#necessidades :checkbox:checked").length > 0;

                if(nomePreenchido && enderecoPreenchido && cidadePreenchido && estadoPreenchido && ((cpf.val().indexOf("_") == -1 && cpf.val().length > 0) || (cnpj.val().indexOf("_") == -1 && cnpj.val().length > 0)) && causaPreenchido && necessidadePreenchida)
                    $("#atualizar").prop("disabled", false);
                else
                    $("#atualizar").prop("disabled", true);
            });
        });
    </script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        let sucesso = /*[[${success}]]*/ 'resultado da doação';
        if(sucesso != null){
            if(sucesso)
                window.alert("Dados atualizados com sucesso!");
            else
                window.alert("Erro ao atualizar dados!");
        }

        /*]]>*/
    </script>
</body>
</html>