<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${detalhes.usuarioInstituicao.nomeUsuario}"> nome </title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css} "/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <a href="/instituicoes" style="color: black !important;"> Voltar </a>
    <div id="detalharInst">
        <div class="card w-50" style="width: 18rem;">
            <div class="card-header bg-info text-white">
                <h2 th:text="${detalhes.usuarioInstituicao.nomeUsuario}"> Nome </h2>
            </div>
            <div class="card-body">
                <ul class="">
                    <li class="card-text">
                        <h4 th:text="${detalhes.causaInstituicao}"> Asilo de animais </h4>
                    </li>
                    <li class="card-text">
                        <h5 th:text="${detalhes.usuarioInstituicao.enderecoUsuario + ' - ' + detalhes.usuarioInstituicao.cidadeUsuario + ', ' + detalhes.usuarioInstituicao.estadoUsuario}"> Endereço, cidade </h5>
                    </li>
                    <li class="card-text">
                        <h6 th:text="${detalhes.usuarioInstituicao.celularUsuario + detalhes.usuarioInstituicao.telefoneUsuario}">Telefone</h6>
                    </li>
                    <li class="card-text">
                        <form method="POST">
                            <p>O que deseja doar? A instituição precisa de:</p>
                            <div th:each="necessidade: ${detalhes.necessidadesInstituicao.split(',')}">
                                <input required name="causaDoacao" type="radio" th:value="${necessidade}">
                                <label th:text="${necessidade}"> Doação </label>
                                <br/><br/>
                            </div>

                            <div class="input-group input-group-sm mb-3 w-75 mx-auto">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-sm">Quanto(s) deseja doar?</span>
                                </div>
                                <input required type="number" class="form-control" name="valorDoacao" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            </div>
                            <br>
                            <button type="submit" class="btn btn-info text-white w-25">Enviar</button>

                        </form>
                    </li>
                </ul>
            </div>
        </div>
        
    </div>
</body>
</html>