<!DOCTYPE html>
<html lang="en">
<head th:replace="~{../static/fragments/head/head.html::head('Re:Donate', 'detalharInst')}"></head>
<body>
    <div id="header" th:replace="~{../static/fragments/header/header.html::headerGeral(${dadosDoador.nomeUsuario}, '/doadores/dados')}"></div>
    <div id="content">
        <div id="detalharInst">
            <div class="card w-50" style="width: 18rem;">
                <div class="card-header text-white">
                    <h2 th:text="${detalhes.usuarioInstituicao.nomeUsuario}"> Nome </h2>
                </div>
                <div class="card-body">
                    <ul class="infos">
                        <li class="card-text">
                            <h4 th:text="${detalhes.causaInstituicao}"> causa </h4>
                        </li>
                        <li class="card-text">
                            <h5 th:text="${detalhes.usuarioInstituicao.enderecoUsuario + ' - ' + detalhes.usuarioInstituicao.estadoUsuario + ', ' + detalhes.usuarioInstituicao.cidadeUsuario}"> Endereço - Estado, Cidade </h5>
                        </li>
                        <li class="card-text">
                            <h6 th:text="'Celular: ' + ${detalhes.usuarioInstituicao.celularUsuario + ' | Telefone: ' + detalhes.usuarioInstituicao.telefoneUsuario}">Telefone</h6>
                        </li>
                        <li class="card-text">
                            <form method="POST">
                                <p>O que deseja doar? A instituição precisa de:</p>
                                <div th:each="necessidade: ${detalhes.necessidadesInstituicao.split(',')}">
                                    <input required name="causaDoacao" type="radio" th:value="${necessidade}">
                                    <label th:text="${necessidade}"> Doação </label>
                                    <br/><br/>
                                </div>

                                <div class="input-group input-group-sm mb-3 w-75 mx-auto">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text" id="inputGroup-sizing-sm">Quanto deseja doar para esta causa?</span>
                                    </div>
                                    <input required type="number" min = "1" step="0.01" class="form-control" name="valorDoacao" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                                </div>
                                <br>
                                <button type="submit" class="btn text-white w-25">Enviar</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="body-footer" id="footer" th:replace="~{../static/fragments/footer/footer.html::footer('/doadores/dados')}">
    </div>
</body>
</html>