<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Re:Donate</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/css/style.css" />
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css} "/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body>
<div id="container">

    <div id="lado"></div>

    <div th:if="${session.idLogin eq null}" id="login" class="rounded">
        <form action="/logar" method="POST">

            <div id="campos" class="mx-auto w-75 mt-2">

                <h3>Email:</h3>
                <div class="input-group mb-1 mx-auto">
                    <input type="email" class="form-control" aria-label="Email" name="emailUsuario">
                </div>

                <br/><br/>

                <h3>Senha:</h3>
                <div class="input-group mb-1 mx-auto">
                    <input type="password" class="form-control" aria-label="Senha" name="senhaUsuario">
                </div>
                <button type="submit" class="btn btn-sm mt-2 mb-3" id="enviar">Enviar</button>
                <br/>
            </div>

            <p> Ainda não possui uma conta? <a href="/cadastrar"> Cadastre-se </a> </p>
            
        </form>
        <h4 th:if="${falhaLogin != null and falhaLogin == 1}" id="errorMessage"> Falha ao efetuar login, tente novamente!</h4>
    </div>

</div>
</body>
</html>