<!DOCTYPE html>
<html lang="en">
<head th:replace="~{../static/fragments/head/head.html::head('Lista de Instituições', 'style')}"></head>
<body>
<div id="header" th:replace="~{../static/fragments/header/header.html::headerGeral(${dadosDoador.nomeUsuario}, '/doadores/dados')}"></div>

<div id="searchGroup">
    <!-- Nome -->
    <div id="nomeFiltroInst">
        <label for="searchNome"> Nome da Instituição </label>
        <input type="text" id="searchNome" class="pesquisa">
    </div>

    <!-- Causa -->
    <div id="causaFiltroInst">
        <label for="searchCausa"> Causa da Instituição </label>
        <input type="text" id="searchCausa" class="pesquisa">
    </div>

    <!-- Necessidades -->
    <div id="categoriaFiltro">
        <label> Necessidades: </label>
        <select id="searchNecessidade">
            <option value="" selected> Necessidades... </option>
            <option value="Alimentos"> Alimentos </option>
            <option value="Remédios"> Remédios </option>
            <option value="Educação"> Educação </option>
            <option value="Vestimentas"> Vestimentas </option>
            <option value="Produtos para Pets"> Produtos para Pets </option>
            <option value="Outros fins"> Outros fins </option>
        </select>
    </div>
</div>
    <div id="instituicaoAll">
        <div id="paginacaoTop" class="paginacao">
            <!-- Carregar indices de paginas -->
        </div>
        <div class="card" id="instituicaoList">
            <!-- Div na qual cards de Instituicoes sera carregado -->
        </div>
        <div id="paginacaoBottom" class="paginacao">
            <!-- Carregar indices de paginas -->
        </div>
    </div>
    <div id="footer" th:replace="~{../static/fragments/footer/footer.html::footer}"> </div>

    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

    <!-- Mensagens sobre o estado do sistema para o usuário -->
    <script th:inline="javascript">
        /*<![CDATA[*/

        let sucesso = /*[[${success}]]*/ 'resultado da doação';
        if(sucesso != null){
            if(sucesso)
                window.alert("Doação efetuada com sucesso!");
            else
                window.alert("Erro ao efetuar doação!");
        }

        /*]]>*/
    </script>

    <!-- Tratamento dos filtros da lista -->
    <script>

        //Instancia o objeto de filtro com os dados dos campos
        function carregarDados(objeto) {
            objeto.nome = $("#searchNome").val();
            objeto.causa = $("#searchCausa").val();
            objeto.necessidade = $("#searchNecessidade").val();
        }

        //Cria os indices das paginas possiveis de navegacao
        function criarPaginacao(dados, elementoPag, pagina) {
            elementoPag.html("");

            if(dados.length) {
                let voltar = document.createElement("span");
                if (pagina == 0)
                    voltar.setAttribute("id", 0);
                else
                    voltar.setAttribute("id", pagina - 1);

                voltar.innerHTML = "<";
                elementoPag.append(voltar);
            }

            let j;
            for(j = 0; j < (dados.length / 12); j++){
                let indice = document.createElement("span");
                indice.setAttribute("id", j);
                indice.innerHTML = j+1;
                if(j == pagina)
                    indice.setAttribute("style", "color: red;");
                elementoPag.append(indice);
            }

            if(dados.length) {
                let avancar = document.createElement("span");
                if (pagina == j - 1)
                    avancar.setAttribute("id", pagina);
                else
                    avancar.setAttribute("id", pagina + 1);

                avancar.innerHTML = ">";
                elementoPag.append(avancar);
            }
        }

        //Carrega os cards das instituicoes
        function visualizarFiltro(dados, elementoCard, pagina){

            saida = "";
            for(let i = pagina*12; i < (pagina+1)*12; i++){
                if(!dados[i])
                    break;
                saida += "<dl class=\"instituicoes\">"
                saida +=     "<img class=\"card-img-top\" src=\"http://localhost:8080/images/smile-regular.svg\" alt=\"Card image cap\">"
                saida +=     "<div class=\"card-body\">"
                saida +=         "<h5 class=\"card-title\">" + dados[i].nomeUsuario + "</h5>"
                saida +=         "<dt>"
                saida +=            "<span> " + dados[i].instituicao.causaInstituicao + " </span>"
                saida +=         "</dt>"
                saida +=         "<a href = \"/instituicao/"+ dados[i].instituicao.id +"\" class=\"btn btn-primary\">Doar!</a>"
                saida +=     "</div>"
                saida += "</dl>"
            }

            if(!dados.length) {
                saida = "Não encontramos nenhuma Instituição com estas características!";
            }

            //$("#footer").css({"position": "fixed", "bottom": 0});

            elementoCard.html(saida);
        }

        //Executa a chamada para o backend e retorna os dados recebidos
        function executarChamada(rota, objeto){
            carregarDados(objeto);
            let retorno;

            $.ajax({
               method: "GET",
               dataType: "json",
               url: rota,
               data: objeto,
               async: false,
               success: function (data, status) {
                   retorno = [...data];
               }
            });

            return retorno;
        }

        //Executa as principais funcoes de atualizacao de dados
        function atualizarPagina(Dados, instituicaoBox, paginacaoTop, paginacaoBottom, pagina = 0) {
            visualizarFiltro(Dados, instituicaoBox, pagina);
            criarPaginacao(Dados, paginacaoTop, pagina);
            criarPaginacao(Dados, paginacaoBottom, pagina);
        }

        $(document).ready(function () {
            const instituicaoBox = $("#instituicaoList");
            const paginacaoTop = $("#paginacaoTop");
            const paginacaoBottom = $("#paginacaoBottom");
            const jsonFiltro = {};
            let Dados;

            //Carregar todas as Instituicoes
            Dados = executarChamada("http://localhost:8080/instituicoes/filtro", jsonFiltro);
            atualizarPagina(Dados, instituicaoBox, paginacaoTop, paginacaoBottom);

            //Detectar eventos de filtro e buscar Instituicoes filtradas
            $(".pesquisa").on("input", function (e) {
                Dados = executarChamada("http://localhost:8080/instituicoes/filtro", jsonFiltro);
                atualizarPagina(Dados, instituicaoBox, paginacaoTop, paginacaoBottom);
            });

            $("#searchNecessidade").change(function (e) {
                Dados = executarChamada("http://localhost:8080/instituicoes/filtro", jsonFiltro);
                atualizarPagina(Dados, instituicaoBox, paginacaoTop, paginacaoBottom);
            });

            //Trocar de página na lista de instituições
            $(".paginacao").on("click", "span", function(e) {
                window.scrollTo(0, 0);
                atualizarPagina(Dados, instituicaoBox, paginacaoTop, paginacaoBottom, this.id);
            });
        });
    </script>
</body>
</html>