<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../style.css" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

        <!--Links da fonte-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap" rel="stylesheet">

    </head>
    <body>
        <div id="footer" th:fragment="footer(rotaPerfil)">

            <div id="footerMenu">

                <div id="userTable">
                    <table id="userOptions">
                        <tr>
                            <th>Suas configurações</th>
                        </tr>
                        <tr>
                            <td><a th:href="${rotaPerfil}">Perfil</a></td>
                        </tr>
                        <tr>
                            <td><a href="/doacoes/chat">Conversas abertas</a></td>
                        </tr>
                        <tr>
                            <td><a href="/doacoes/dados">Histórico de doações</a></td>
                        </tr>
                    </table>
                </div>

                <div id="reDonateTable">
                    <table id="reDonateOptions">
                        <tr>
                            <th>Sobre nós</td>
                        </tr>
                        <tr>
                            <td>ReDonate</td>
                        </tr>
                        <tr>
                            <td>contato@redonate.com.br</td>
                        </tr>
                        <tr>
                            <td>Nos conheça</td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>

        <div id="footer" th:fragment="footerLogin">

            <div id="footerMenuGeral">

                <div id="reDonateTable">
                    <table id="reDonateOptions">
                        <tr>
                            <th>Sobre nós</td>
                        </tr>
                        <tr>
                            <td>ReDonate</td>
                        </tr>
                        <tr>
                            <td>contato@redonate.com.br</td>
                        </tr>
                        <tr>
                            <td>Nos conheça</td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
    </body>
</html>
