<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../style.css" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

        <!--Links da fonte-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap" rel="stylesheet">

    </head>
    <body>
        <div id="footer" th:fragment="footer">

            <div id="footerMenu">

                <div id="userTable">
                    <table id="userOptions">
                        <tr>
                            <th>Suas configurações</td>
                        </tr>
                        <tr>
                            <td>Dados pessoais</td>
                        </tr>
                        <tr>
                            <td>Conversas abertas</td>
                        </tr>
                        <tr>
                            <td>Histórico de doações</td>
                        </tr>
                    </table>
                </div>

                <div id="institutionsTable">

                    <table id="institutionsOptions">
                        <tr>
                            <th>Instituições</td>
                        </tr>
                        <tr>
                            <td>Listar todas</td>
                        </tr>
                        <tr>
                            <td>Instituições em alta</td>
                        </tr>
                        <tr>
                            <td>Abrir solicitação</td>
                        </tr>
                    </table>

                </div>

                <div id="reDonateTable">
                    <table id="reDonateOptions">
                        <tr>
                            <th>Sobre nós</td>
                        </tr>
                        <tr>
                            <td>ReDonate</td>
                        </tr>
                        <tr>
                            <td>contato@redonate.com.br</td>
                        </tr>
                        <tr>
                            <td>Nos conheça</td>
                        </tr>
                    </table>
                </div>

            </div>

        </div>
    </body>
</html>
